In [9]:
l = [1,2,3,4,5,"sudh",45.67,True]
l[0]

1

In [2]:
l[-1]

True

In [3]:
len(l)

7

In [4]:
l[0]

1

In [10]:
l[0:5]

[1, 2, 3, 4, 5]

In [11]:
l[::-1]

[True, 45.67, 'sudh', 5, 4, 3, 2, 1]

In [12]:
l[0:100]

[1, 2, 3, 4, 5, 'sudh', 45.67, True]

In [13]:
l[0:100:2]

[1, 3, 5, 45.67]

In [14]:
l[0:8:-1]

[]

In [15]:
l[:3]

[1, 2, 3]

In [16]:
l[::]

[1, 2, 3, 4, 5, 'sudh', 45.67, True]

In [17]:
l + "sudh"

TypeError: can only concatenate list (not "str") to list

In [18]:
l * 2

[1, 2, 3, 4, 5, 'sudh', 45.67, True, 1, 2, 3, 4, 5, 'sudh', 45.67, True]

In [19]:
l + ["sudh"]

[1, 2, 3, 4, 5, 'sudh', 45.67, True, 'sudh']

In [20]:
a = [1,2,True,"Billu"]
a*2

[1, 2, True, 'Billu', 1, 2, True, 'Billu']

In [21]:
'Billu' in a

True

In [22]:
True in a

True

In [24]:
l1 = [1,2,3,4,5,100,7474,48484,11,10000000000000]
max(l1)

10000000000000

In [26]:
l2 = ["belal","Ahmed","siddiqui"]
max(l2)

'siddiqui'

In [28]:
l3 = ["soniya","saadia","saniya"]
max(l3)

'soniya'

In [29]:
min(l3)

'saadia'

In [30]:
"saadia" in l3

True

In [31]:
l

[1, 2, 3, 4, 5, 'sudh', 45.67, True]

In [32]:
l.append("kumar")

In [33]:
l

[1, 2, 3, 4, 5, 'sudh', 45.67, True, 'kumar']

In [34]:
l = [1,2,3,"Belal"]
l.append("Ahmed")
print(l)

[1, 2, 3, 'Belal', 'Ahmed']

In [35]:
l

[1, 2, 3, 'Belal', 'Ahmed']

In [36]:
print(l)

[1, 2, 3, 'Belal', 'Ahmed']

In [37]:
b = [1,2,2,3,4,4,5]
b[3]

3

In [39]:
l.append(["hello","Bhai"])

In [40]:
l

[1, 2, 3, 'Belal', 'Ahmed', ['hello', 'Bhai']]

In [43]:
l = [1,2,3,4,5,"sudh",54.76,True,"kumar"]
l.reverse()
print(l)

['kumar', True, 54.76, 'sudh', 5, 4, 3, 2, 1]

In [44]:
l

['kumar', True, 54.76, 'sudh', 5, 4, 3, 2, 1]

In [45]:
l.reverse()

In [46]:
l

[1, 2, 3, 4, 5, 'sudh', 54.76, True, 'kumar']

In [47]:
l.pop(0)

1

In [48]:
l

[2, 3, 4, 5, 'sudh', 54.76, True, 'kumar']

In [49]:
list1 = [1, 2, 3, 4, 5, 6]

# Pops and removes the 3th index
# element from the list
print(list1.pop(3), list1)

4 [1, 2, 3, 5, 6]

In [50]:
l

[2, 3, 4, 5, 'sudh', 54.76, True, 'kumar']

In [51]:
l.pop()

'kumar'

In [52]:
l

[2, 3, 4, 5, 'sudh', 54.76, True]

In [53]:
l = [1,2,3,4,5,"Belal","batman"]
print("Belal is ",l.pop())

Belal is  batman

In [54]:
l

[1, 2, 3, 4, 5, 'Belal']

In [1]:
l1 = [2,3,4]
l2 =[6,7,8]
l3 = [3,2,4]
l4 = [l1,l2,l3]

In [2]:
l4

[[2, 3, 4], [6, 7, 8], [3, 2, 4]]

In [3]:
l4[2][1]

2

In [4]:
s = "ineuron"
s[:]

'ineuron'

In [5]:
s[::-1]

'norueni'

In [6]:
l = [1,2,3,4,"Belal"]
m = [1,2,3,"Ahmed"]
m = l+m

In [7]:
print(m)

[1, 2, 3, 4, 'Belal', 1, 2, 3, 'Ahmed']

In [8]:
l

[1, 2, 3, 4, 'Belal']

In [9]:
l + ["belal"]

[1, 2, 3, 4, 'Belal', 'belal']

In [10]:
l

[1, 2, 3, 4, 'Belal']

In [11]:
l.append(["hello"])

In [12]:
l

[1, 2, 3, 4, 'Belal', ['hello']]

In [13]:
l.pop()

['hello']

In [14]:
l

[1, 2, 3, 4, 'Belal']

In [15]:
l.reverse()

In [16]:
l

['Belal', 4, 3, 2, 1]

In [19]:
l = [636,747,2,3,4,2,6,3,2,5,6]
l.sort()

In [20]:
l

[2, 2, 2, 3, 3, 4, 5, 6, 6, 636, 747]

In [21]:
l.reverse()

In [22]:
l

[747, 636, 6, 6, 5, 4, 3, 3, 2, 2, 2]

In [23]:
l1 = [2,3,4]
l2 = [4,5,6]
l3 = [7,8,9]
l4 = [l1,l2,l3]

In [24]:
l4

[[2, 3, 4], [4, 5, 6], [7, 8, 9]]

In [25]:
l4[2][2]

9

In [26]:
l5 = [2,3,4,5,2,4,2,4,2,54]
l5.count(2)

4

In [27]:
l = [1,2,3]

l.append(4)

In [28]:
l

[1, 2, 3, 4]

In [30]:
l.extend(7)

TypeError: 'int' object is not iterable

In [31]:
l

[1, 2, 3, 4]

In [32]:
l.extend([7,8,9])

In [33]:
l

[1, 2, 3, 4, 7, 8, 9]

In [34]:
l

[1, 2, 3, 4, 7, 8, 9]

In [35]:
l.append("belal")

In [36]:
l

[1, 2, 3, 4, 7, 8, 9, 'belal']

In [37]:
l.append([10,11,12])

In [38]:
l

[1, 2, 3, 4, 7, 8, 9, 'belal', [10, 11, 12]]

In [39]:
l.extend("belal")

In [41]:
l

[1, 2, 3, 4, 7, 8, 9, 'belal', [10, 11, 12], 'b', 'e', 'l', 'a', 'l']

In [42]:
l = [1,2,3,4]
l.append("belal")

In [43]:
l

[1, 2, 3, 4, 'belal']

In [44]:
l

[1, 2, 3, 4, 'belal']

In [45]:
l.append([5,6,7])

In [46]:
l

[1, 2, 3, 4, 'belal', [5, 6, 7]]

In [47]:
l = [1,2,3,4]
l.extend("belal")

In [48]:
l

[1, 2, 3, 4, 'b', 'e', 'l', 'a', 'l']

In [49]:
l.extend([5,6,7])

In [50]:
l

[1, 2, 3, 4, 'b', 'e', 'l', 'a', 'l', 5, 6, 7]

In [51]:
l7 = [1,2,3,4,55,6,6,7]
l7.index(7)

7

In [54]:
l = [1,2,3,4,5]
l.append(45)
l

[1, 2, 3, 4, 5, 45]

In [55]:
l.insert(0,0)

In [56]:
l

[0, 1, 2, 3, 4, 5, 45]

In [57]:
l.pop()

45

In [58]:
l

[0, 1, 2, 3, 4, 5]

In [59]:
l.pop(0)

0

In [60]:
l

[1, 2, 3, 4, 5]

In [61]:
l.remove(1)

In [62]:
l

[2, 3, 4, 5]

In [63]:
l.remove(3)

In [64]:
l

[2, 4, 5]

In [65]:
l = [1,2,3,4]
l[1]= "Belal"

In [66]:
l

[1, 'Belal', 3, 4]

In [68]:
s = "ineuron"
s[2]="x"

TypeError: 'str' object does not support item assignment

In [70]:
t = (4,5,6,7,"sudh",45.67,True)
type(t)

tuple

In [71]:
t[0]

4

In [72]:
t[0:4]

(4, 5, 6, 7)

In [73]:
t[-1]

True

In [74]:
t[0:4:-1]

()

In [75]:
t

(4, 5, 6, 7, 'sudh', 45.67, True)

In [76]:
t[0]="belal"

TypeError: 'tuple' object does not support item assignment

In [77]:
t1 = (3,4,5,6)
t + t1

(4, 5, 6, 7, 'sudh', 45.67, True, 3, 4, 5, 6)

In [78]:
t1 = (1,2,3,4)
t2 = (5,6,7,8)
t1+t2

(1, 2, 3, 4, 5, 6, 7, 8)

In [79]:
t1.count(1)

1

In [80]:
t1.index(2)

1

In [81]:
t = (3,4,56,7,"sudh")
list(t)

[3, 4, 56, 7, 'sudh']

In [82]:
d = {}

In [83]:
type(D)

NameError: name 'D' is not defined

In [84]:
type(d)

dict

In [1]:
D = {}
type(D)

dict

In [3]:
d2 = {
    'key1':"value",
    234:"xyz",
    "name":"sudh",
    "no":34324345

}

In [4]:
s2

NameError: name 's2' is not defined

In [5]:
d2

{'key1': 'value', 234: 'xyz', 'name': 'sudh', 'no': 34324345}

In [7]:
d2["name"]

'sudh'

In [8]:
d2["no"]

34324345

In [9]:
d3 = {'name':'sudh','tech':["python","ML","DL","NLP","cv"]}
d3

{'name': 'sudh', 'tech': ['python', 'ML', 'DL', 'NLP', 'cv']}

In [10]:
d3["tech"]

['python', 'ML', 'DL', 'NLP', 'cv']

In [11]:
"python" in d3["tech"]

True

In [12]:
d4 = {"name":"ineuron","contact_info":34535,"name":"sudh"}

In [13]:
d4

{'name': 'sudh', 'contact_info': 34535}

In [15]:
d4["k1"] = "xyz"

In [16]:
d4

{'name': 'sudh', 'contact_info': 34535, 'k1': 'xyz'}

In [17]:
d = {"name":"Belal","contact_info":1234}

In [18]:
d["designation"]= "Batman"

In [19]:
d

{'name': 'Belal', 'contact_info': 1234, 'designation': 'Batman'}

In [20]:
d

{'name': 'Belal', 'contact_info': 1234, 'designation': 'Batman'}

In [21]:
d1 = {"university":"isi","hostel":"GN"}
d["k2"] = d1

In [22]:
d

{'name': 'Belal',
 'contact_info': 1234,
 'designation': 'Batman',
 'k2': {'university': 'isi', 'hostel': 'GN'}}

In [23]:
d["k2"]

{'university': 'isi', 'hostel': 'GN'}

In [24]:
d['k2']['hostel']

'GN'

In [25]:
d5 = {@:"hie"}

SyntaxError: invalid syntax (336301865.py, line 1)

In [26]:
d6 = {(1,2,3,4):"uheuhw"}

In [27]:
d6[(1,2,3,4)]

'uheuhw'

In [28]:
d

{'name': 'Belal',
 'contact_info': 1234,
 'designation': 'Batman',
 'k2': {'university': 'isi', 'hostel': 'GN'}}

In [29]:
d.keys()

dict_keys(['name', 'contact_info', 'designation', 'k2'])

In [31]:
d = {'name':'Belal','no':1234,"home":"akbarpur"}
d.keys()

dict_keys(['name', 'no', 'home'])

In [32]:
d.values()

dict_values(['Belal', 1234, 'akbarpur'])

In [33]:
d.items()

dict_items([('name', 'Belal'), ('no', 1234), ('home', 'akbarpur')])

In [34]:
marks = {'physics':67,"maths":87}
marks.items()

dict_items([('physics', 67), ('maths', 87)])

In [35]:
s1 = {2,2,3,4,5,5,3,5,5959,494949,22}
s1

{2, 3, 4, 5, 22, 5959, 494949}

In [36]:
list(s1)

[2, 3, 4, 494949, 5, 5959, 22]

In [38]:
l = [1,2,3,2,3,2,3,2,3,2]
l = list(set(l))

In [39]:
l

[1, 2, 3]

In [40]:
l

[1, 2, 3]

In [41]:
l.add(4)

AttributeError: 'list' object has no attribute 'add'

In [42]:
s

NameError: name 's' is not defined

In [43]:
s1

{2, 3, 4, 5, 22, 5959, 494949}

In [44]:
s1.add(420)

In [45]:
s1

{2, 3, 4, 5, 22, 420, 5959, 494949}

In [46]:
s1.add([78,79])

TypeError: unhashable type: 'list'

In [47]:
s1 = ((1,2,3),5,6)

In [48]:
s1

((1, 2, 3), 5, 6)

In [49]:
s2 = {[1,2,3],5,6}

TypeError: unhashable type: 'list'

In [50]:
s = {1,2,3,4,5}
s.remove(2)

In [51]:
s

{1, 3, 4, 5}

In [52]:
s.discard(1)
s

{3, 4, 5}

In [53]:
s

{3, 4, 5}

In [54]:
s.remove(420)

KeyError: 420

In [55]:
s.discard(420)

In [56]:
d2

{'key1': 'value', 234: 'xyz', 'name': 'sudh', 'no': 34324345}

In [57]:
d2["key4"]= "billu"

In [58]:
d2

{'key1': 'value', 234: 'xyz', 'name': 'sudh', 'no': 34324345, 'key4': 'billu'}

In [ ]:
l = [3,4,5,6,7,]

In [64]:
#Questions 

l = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]

In [67]:
l[0]

3

In [68]:
l[5][1]

456