Python string is a sequence of Unicode characters that is enclosed in quotation marks. We are going to discuss the various in-built function i.e. the functions provided by Python to operate on strings.

In [1]:
name = "Belal"

In [2]:
name[0]

'B'

In [3]:
#Reversing the string
name = "Belal"
name[::-1]

'laleB'

In [4]:
#string_name.count
name = "Belal Ahmed Siddiqui"
name.count("e")

2

In [5]:
name

'Belal Ahmed Siddiqui'

In [6]:
name.split(" ") #This will return a list

['Belal', 'Ahmed', 'Siddiqui']

In [7]:
name = "belal"
name.upper()

'BELAL'

In [8]:
name

'belal'

In [9]:
name1= "BELAL"
name1.lower()

'belal'

In [11]:
#stringname_title this function will convert first character of every word to upper case
txt ="welcome to my life"
txt.title()

'Welcome To My Life'

In [12]:
#stringname.capitalize will only capitalize the first letter of the sentence
txt

'welcome to my life'

In [13]:
txt.capitalize()

'Welcome to my life'

In [14]:
#stringname.swapcase This will convert all upper case to lower case and vice versa
a = "i LOvE yOu"
a.swapcase()

'I loVe YoU'

In [15]:
#stringname.strip() the strip() method removes any leading and trailing white scapes 
s = " belal"
s.strip()

'belal'

In [16]:
#string.lstrip
s = " belal"
s.lstrip()

'belal'

In [17]:
s = "belal "
s.rstrip()

'belal'

In [18]:
#Join method
"a".join("belal")

'baealaaal'

In [20]:
s = "belal"
s.center(20,"*")

'*******belal********'

In [21]:
s1 = "BELAL"
s1.isupper()

True

In [22]:
s2 = "belal"
s2.islower()

True

In [23]:
s3 = "  "
s3.isspace()

True

In [24]:
s4 = "Belal"
s4.isdigit()

False

In [25]:
s5 = "Belal007"
s5.isalnum()

True

In [26]:
s5

'Belal007'

In [27]:
s5.isalpha()

False

In [28]:
s6 = "Belal Ahmed Siddiqui"
s6.startswith("B")

True

In [29]:
#stringname.replace("old","new")
st = "Bruce wayne is Batman"
st = st.replace("Bruce wayne","Belal")

In [30]:
print(st)

Belal is Batman